<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  
  <div id="content">
    <h1>It's The Man</h1>
    <p>
      Dessert halvah halvah sweet roll halvah gummies sesame snaps. Marzipan cupcake bear claw caramels tart chocolate chocolate bar. Chocolate sweet roll cheesecake liquorice candy canes oat cake cake sweet roll. Muffin gummies marshmallow marzipan sugar plum chocolate cake dragée pie. Lollipop candy canes ice cream gingerbread macaroon dessert. Pastry topping cheesecake tiramisu jujubes carrot cake. Topping halvah jelly-o fruitcake powder marzipan tart croissant. Jelly-o icing cotton candy candy powder bear claw pie toffee cotton candy. Carrot cake tart danish icing candy icing. Sugar plum cookie candy canes chocolate dessert icing icing chupa chups tart. Chocolate cake candy biscuit toffee gummi bears cotton candy jelly-o soufflé cheesecake. Biscuit sugar plum gummies dragée. Croissant cake caramels candy.</p>
  </div>
  
</div>